@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Contrail+One|Courgette|Lato|Passion+One');

ul {
    list-style-type: none;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Lato';
    margin-bottom: 2px;
    border: solid 1px #16425B;
    color: #16425B;
}

li a:hover {
    background-color: #3A7CA5;
    color: white;
    border: none;
    margin-bottom: 4px;
}

li a:active {
  animation: example 3s linear infinite;
}

@keyframes example {
  0% {background-color: red;}
  25% {background-color: yellow;}
  50% {background-color: green;}
  75% {background-color: blue;}
  100% {background-color: purple;}
}

#head1 {
    text-align: center;
    text-shadow: 4px 4px #DB504A;
    color: white;
    background-color: #3A7CA5;
    padding: 1px;
    font-family: 'Passion One';
    font-size: 150%;
    text-transform: uppercase;
}

h2 {
    font-family: 'Contrail One';
    text-transform: uppercase;
    font-size: 175%;
    color: #DB504A;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 10%;
}

h3 {
    margin-left: 25%;
    font-size: 160%;
    font-weight: bold;
    color: #DB504A;
    font-family: 'Contrail One';
}

.navzone {
    text-transform: uppercase;
    width: 15%;
    overflow: auto;
    padding-right: 5%;
    margin-top: 6%;
    border-right: solid #16425B;
    float: left;
    /* can also do:
    position: fixed;
    height: 100%; */
}

.prose {
    font-family: 'Lato';
    margin-left: 25%;
    margin-right: 10%;
    color: #16425B;
}


.extreme {
    font-family: 'Lato';
    text-align: center;
    color: #16425B;
}
